

/* imports */

@import url(../Montserrat-Regular.ttf);
@import url(../Montserrat-SemiBold.ttf);
@import url(../Montserrat-Bold.ttf);

/* vaiables */

:root {
    --c-dark: #1e1e1e;
    --c-brand: #bf0000;
    --c-light: #ffffff;
    --c-dark-light: #6e6c6c;
    --font-base: "Montserrat-Regular.ttf", sans-serif;
    --box-shadow: 0px 15px 25px #1e1e1e;
    --transition: all 0.5s ease;
}



/* reset and helpers */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-dark);
}


h1, h2, h3, 
.h1, .h2, .h3 {
    font-weight: 600;
    color: var(--c-dark);
}
h4, h5, h6,
.h4, .h5, .h6 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand);
}

img {
    max-width: 100%;
    height: auto;
}

.section padding {
    padding-top: 140px;
    padding-bottom: 140px
}

/* navbar */

.navbar {
    box-shadow: var(--c-dark-light);
}
.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

body {
    padding-top: 70px;
  }
  .navbar.navbar-inverse {
    border: none;
  }
  .navbar .navbar-brand {
    padding-top: 0px;
  }
  .navbar .navbar-brand img {
    height: 50px;
}



/* buttons */
.btn{
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;

}

.btn-imp{
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: var(--c-light);
}

.btn-imp:hover{
    background-color: var(--c-dark);
    border-color: var(--c-dark);
    color: var(--c-light);
}

.btn-imp:active{
    background-color: var(--c-dark);
    border-color: var(--c-dark);
    color: var(--c-light);
}

.btn-imp:disabled{
    background-color: var(--c-dark-light);
    border-color: var(--c-dark-light);
    color: var(--c-dark);
    pointer-events: none
}

.btn-dark{
    background-color: var(--c-dark);
    border-color: var(--c-dark);
    color: var(--c-light);
}

.btn-dark:hover{
    background-color: var(--c-light);
    border-color: var(--c-dark);
    color: var(--c-dark);
}

.btn-dark:active{
    background-color: var(--c-light);
    border-color: var(--c-dark);
    color: var(--c-dark);
}

.btn-dark:disabled{
    background-color: var(--c-dark-light);
    border-color: var(--c-dark-light);
    color: var(--c-dark);
    pointer-events: none
}

/* hero section */
#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.284), rgba(0, 0, 0, 0.251));
    background-position: center;
    background-size: cover;
}


/* section title */
.section-title {
    margin-top: 60px;
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}



/* iconsboxes */

.iconbox {
    width: 60px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-dark-light), 0.3);
    color: var(--c-brand);
    font-size: 44px;
    flex: none;
}

/* overlays - NOT WORKING */

.card-overlay {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
  }

.overlay {
    background-color: rgba(0, 0, 0, 0.773);
}

.carousel-caption {
    align-items: center;
    padding-bottom: 200px;
    line-height: 70px;
 
    

}

.bg-dark {
    color: var(--c-dark);
}

.theme-shadow {
    box-shadow: var(--c-dark);
}

/* footer */
footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid var(--c-dark, 0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer li,
footer p,
footer a {
    color: #ffffff;
}

footer ul {
    list-style: none;
    padding: 0;

}

footer .line {
    width: 60px;
    height: 5px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:#6e6c6c;
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: #bf0000;
    color: #ffffff;
}

/* contact */

#contact {
    position: relative;
    z-index: 2;

}
#contact::after {
    content: "";
    width: 100px;
    height: 70%;
    background: linear-gradient(rgba(var(--c-brand, 0.8)), rgba(var(--c-brand,0.8))), url(/movimentgrafitti-redesign/assets/images/team-g4ccf4aa8b_1920.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}